body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

/* Header
=================*/

header {
    width: 100%;
    height: 900px;
    background: #be1717 url("img/background.png") center no-repeat;
    background-size: cover;
    display: flex;
}

.warpper__left {
    display: flex;
    justify-content: space-between;
}

.warpper__left h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 28px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;

    background-color: #fff;

    position: absolute;
    right: 0;
    z-index: 1;
}

.burger__item:before {
    width: 30px;
    top: -8px;
}

.burger__item:after {
    width: 26px;
    bottom: -8px;
}


.menu {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-right: 20px;
    text-transform: uppercase;
}

.warpper__right {
    display: flex;
    align-items: center;
}

.warpper__right h1 {
    margin-left: 10px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.btn__header {
    display: inline-block;
    vertical-align: top;
    padding: 11px 28px;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: #ffffff00;
}

.btn__header:hover {
    border: 3px solid #ED4C5C;
    background-color: #fff;
    font-weight: 600;
    color: #ED4C5C;
}

.nav {
    padding-top: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    padding-top: 100px;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    margin: 0 0 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
}

.intro__subtitle {
    margin-bottom: 60px;
    font-size: 24px;
    color: #fff;
    line-height: 150%;
    font-weight: 600;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 19px 72px;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #ED4C5C;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    border: 3px solid #ffffff;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 600;
    color: #ffffff;
}

/* Blog
=================*/

.blog__inner {
    display: flex;
    justify-content: space-between;
}

.blogLeft h3 {
    margin-top: 140px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    width: 421px;
    height: 82px;
    text-transform: capitalize;
}

.blogLeft p {
    width: 445px;
    height: 78px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.blogLeft h1 {
    color: #ED4C5C;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-transform: capitalize;
}

.blogRight {
    margin: 94px 92px 95px 0px;
}

/* Fatures
=================*/

.features {
    overflow: hidden;
    background-color: #FAFAFA;
    height: 660px;
}


.features__title {
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
}

.features1 {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 355px;
}

.features1 img {
    width: 350px;
    height: 250px;
}

.card1 {
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-self: center;
    margin-top: -100px;
}

.card1 h3 {
    margin-top: 33px;
    width: 293px;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.card1 p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
}

.card1 h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #ED4C5C;
    text-align: center;
}

.features2 {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 355px;
}

.card2 {
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-self: center;
    margin-top: -100px;
}

.card2 h3 {
    margin-top: 33px;
    width: 293px;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.card2 p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
}

.card2 h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #ED4C5C;
    text-align: center;
}

.features3 {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 355px;
}

.card3 {
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-self: center;
    margin-top: -100px;
}

.card3 h3 {
    margin-top: 33px;
    width: 293px;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.card3 p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
}

.card3 h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #ED4C5C;
    text-align: center;
}

.features__warpp {
    display: flex;
    justify-content: space-between;
}

/* Technology
=================*/

.technology__warpp {
    display: flex;
    justify-content: space-between;
}

.technology__title {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.cloudStorage {
    width: 255px;
    height: 226px;
    text-align: center;
}

.secure {
    width: 255px;
    height: 226px;
    text-align: center;
}

.pdf {
    width: 255px;
    height: 226px;
    text-align: center;
}

.csv {
    width: 255px;
    height: 226px;
    text-align: center;
}


/* About Us
=================*/



.about__us {
    margin-top: 130px;
    font-size: 48px;
    height: 500px;
    overflow: hidden;
    background-color: #ED4C5C;
    padding-top: 90px;
}

.about__us__title {
    margin-top: 35px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    width: 445px;
    height: 107px;
}

.about__us__container {
    display: flex;
    justify-content: space-between;
}

.about__us__txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    width: 445px;
    height: 64px;
    color: #FFFFFF;
}

.wrapper__about {
    margin-right: 465px;
    display: flex;
    justify-content: space-between;
}

.wrapper__about img {
    margin-right: 20px;
}

/* Contact
=================*/


.contact__container {
    display: flex;
    justify-content: space-between;
    margin-top: 117px;
}

.contact__warpper h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.contact__warpper p {
    margin-top: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    width: 434px;
    height: 64px;
}

.contact__warpper2 {
    margin-left: 190px;
    position: relative;
}

.contact__warpper2 input {
    border: 1px solid #333333;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
}

.inp1 {
    margin-right: 30px;
    margin-bottom: 24px;
    width: 255px;
    height: 60px;
}

.inp2 {
    width: 255px;
    height: 60px;
}

.inp3 {
    margin-bottom: 24px;
    width: 540px;
    height: 60px;
}

.inp4 {
    width: 540px;
    height: 60px;
}

.btn__contact {
    margin-top: 24px;
    display: inline-block;
    vertical-align: top;
    padding: 19px 54px;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    background-color: #ED4C5C;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.btn__contact:hover {
    border: 3px solid #ED4C5C;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 600;
    color: #ED4C5C;
}

/* Footer
=================*/

footer {
    margin-top: 100px;
    overflow: hidden;
    background-color: #FAFAFA;
    height: 435px;
    padding-top: 95px;
}

.warpper__top {
    display: flex;
    justify-content: space-between;
}

.address h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.address p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    width: 177px;
    height: 54px;
}

.services h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.services p {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    width: 110px;
    height: 98px;
}

.touch h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
}

.info h1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.info h2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
}

.support h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.facebook {
    margin-right: 15px;
}

.linkedin {
    margin-right: 15px;
}

.support__img {
    margin-top: 15px;
}

.warpper__bottom {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 25px;
}

/* Media
=================*/

@media (max-width: 1170px) {
    .container {
        width: 1024px;
    }

    .blogCenter {
        display: none;
    }

    .features1 img {
        width: 320px;
        height: 240px;
    }

    .features2 img {
        width: 320px;
        height: 240px;
    }

    .features3 img {
        width: 320px;
        height: 240px;
    }

    .features1 {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 345px;
    }

    .features2 {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 345px;
    }

    .features3 {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 345px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 992px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 767px;
    }

    .burger {
        display: block;
    }

    header {
        height: 500px;
    }

    .intro {
        height: 300px;
    }

    .warpper__right {
        display: none;
    }

    .warpper__center {
        display: none;
    }

    .blogRight img {
        width: 150%;
    }

    .features1 img {
        width: 255px;
        height: 200px;
    }

    .features2 img {
        width: 255px;
        height: 200px;
    }

    .features3 img {
        width: 255px;
        height: 200px;
    }

    .about__us__img {
        height: 200px;
        width: 620px;
        position: relative;
        margin-left: -158px;
    }

    .card1 {
        width: 230px;
        height: 165px;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgb(0 0 0 / 10%);
        border-radius: 8px;
        align-self: center;
        margin-top: -100px;
    }

    .card1 h3 {
        margin-top: 28px;
        width: 233px;
        height: 40px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .card1 p {
        margin-top: 12px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
    }

    .card1 h1 {
        margin-top: 17px;
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
        color: #ED4C5C;
        text-align: center;
    }


    .card2 {
        width: 230px;
        height: 165px;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgb(0 0 0 / 10%);
        border-radius: 8px;
        align-self: center;
        margin-top: -100px;
    }

    .card2 h3 {
        margin-top: 28px;
        width: 233px;
        height: 40px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .card2 p {
        margin-top: 12px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
    }

    .card2 h1 {
        margin-top: 17px;
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
        color: #ED4C5C;
        text-align: center;
    }


    .card3 {
        width: 230px;
        height: 165px;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgb(0 0 0 / 10%);
        border-radius: 8px;
        align-self: center;
        margin-top: -100px;
    }

    .card3 h3 {
        margin-top: 28px;
        width: 233px;
        height: 40px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .card3 p {
        margin-top: 12px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
    }

    .card3 h1 {
        margin-top: 17px;
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
        color: #ED4C5C;
        text-align: center;
    }

    @media (max-width: 767px) {
        .container {
            width: 414px;
        }

        .blog__adap {
            width: 100%;
        }

        .intro__title {
            font-size: 54px;
        }

        .intro__subtitle {
            font-size: 18px;
        }
    }

    @media (max-width: 414px) {
        .container {
            width: 280px;
        }

        .intro__title {
            font-size: 40px;
        }
    }
}